# dependencies
client/.pnp
client/.pnp.js
client/node_modules/
server/node_modules/
package-lock.json

# production
client/build

# config + env
server/.*
docker-compose.yml

# photo storage
server/uploads/*

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

npm-debug.log*